body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94959c; /* Cor de fundo para todo o corpo */
    text-align: center; /* Centraliza o texto no corpo */
}

header {
    background-color: #cfe2f3;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#languageSwitcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.flag-br, .flag-us {
    width: 30px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    color: black;
    margin: 0;
    padding-top: 10px;
}

main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

section {
    padding: 20px;
    background-color: #94959c; /* Cor de fundo para a seção */
}

#contact .contact-member {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-member a {
    display: inline-block;
    margin: 5px;
}
