body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cfe2f3;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
}

.logo {
    max-width: 100px;
    height: auto;
}

#languageSwitcher {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaçamento entre as bandeiras */
}

#languageSwitcher img {
    cursor: pointer;
    width: 30px; /* Largura padrão */
    height: auto; /* Altura automática */
}

#languageSwitcher .flag-us {
    width: 35px; /* Largura maior para a bandeira dos EUA */
}

#languageSwitcher .flag-br {
    width: 30px; /* Largura padrão para a bandeira do Brasil */
}

section {
    padding: 20px;
    margin: 20px;
}

#contact .contact-member {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.canvas {
    max-width: 700px;
    height: auto;
}

h1 {
    margin-right: auto; /* Move o título para o canto esquerdo */
    margin-left: 10px; /* Adiciona espaço à esquerda do título */
}
